<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">JobApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/hire">Hire Someone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Be Hired</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          <li class="nav-item ms-4">
            <a class="nav-link" style="color: rgb(40, 50, 90);" href="/users/profile">Your profile</a>
          </li>
        {{/if}}
      </ul>

      <div class="d-flex">
        {{#if user}}

        {{else}}
          <a href="/users/login"><button class="btn btn-outline-primary">Sign In</button></a>
          <a href="/users/register"><button class="btn btn-primary ms-4">Sign Up</button></a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
