<div class="card">
  <div class="card-body">
    <h4 class="text-center">Do you want to be hired?</h4>

    <h5 class="text-center text-secondary">Just click on this button below</h5>

    <form action="/behired" method="POST">
      <button type="submit" class="btn btn-success mt-4" style="display: block; margin: auto">
        Be Hired
      </button>
    </form>
  </div>
</div>
