<h3>Hire someone</h3>

<h5>Latest workers registered: </h5>

<div class="card card-body">
  {{#each users}}
    <p>Name: {{name}}</p>
    <p>Nacionality: {{nacionality}}</p>
    <p>Profession: {{profession}}</p>
    <p>Contact: {{contact}}</p>

    <hr>
  {{/each}}
</div>
