<h1>Welcome to my Job App</h1>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>It's better your eat a watermelon instead of melon, because this one, has water, and water is good for your healthy.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">My Random Dreams</cite>
  </figcaption>
</figure>

<div class="card">
  <div class="card-body">
    <h2>Do you need someone to do something for you? Or maybe you want to work for someone.</h2>

    <p class="lead text-center mt-4">Just register at this website and start it</p>

    <button type="button" class="btn btn-danger btn-lg" style="display: block; margin: auto;">
      Register Now
    </button>
  </div>
</div>
