<div class="card">
  <div class="card-body">
    <h3>Login: </h3>

    <form action="/users/login" method="POST">
      <label for="email">E-mail: </label>
      <input type="email" name="email" class="form-control">

      <label for="password" class="mt-2">Password: </label>
      <input type="password" name="password" class="form-control">

      <button type="submit" class="btn btn-success mt-4">Sign In</button>
    </form>
  </div>
</div>
