<h4>Your profile informations: </h4>

<div class="card">
  <div class="card-body">
    <p>Name: {{user.name}}</p>
    <p>E-mail: {{user.email}}</p>

    <a href="/users/profile/update/{{user._id}}"><button class="btn btn-success">Update</button></a>
  </div>

</div>
